input{
    border-radius: .5em;
    padding: .5em;
}
.grupo{
    margin-top: 1em;
    margin-left: 35%;
    margin-right: 35%;
}
.grupo > label{
    display: inline;
}
.controle{
    background-color: rgb(241, 152, 204);
}
.btn{
    background-color: rgb(248, 204, 241);
    font-weight: bolder;
    text-transform: uppercase;
    color: #333;
}
header > img{
    width: 120px;
    height: auto;
    margin-top: 0;
    margin-right: 20%;
}
h1{
    margin-left: 40%;
    margin-right: 40%;
}